.App {
	text-align: center;
	width: 50%;
	margin: auto;
	padding: 3%;
	border: 1px rgba(0, 0, 0, 0.089) solid;
	border-radius: 15px;
	height: 95vh;
}

body {
	overflow: hidden;
}

.navbar {
	top: 0;
	position: fixed;
	background-color: rgb(0, 106, 177);
	color: rgb(223, 242, 255);
}

.navTitle {
	display: flex;
	width: 70%;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.home-header {
	background-color: rgb(195, 231, 255);
	padding: 5%;
	border-radius: 15px;
}

.searchBarContainer {
	justify-content: center;
}

footer {
	position: fixed;
	bottom: 0;
	width: 45%;
}

.fas {
	font-size: 5rem;
}

.headerTitle {
	font-size: 4rem;
}

.navItem {
	font-size: 2rem;
	color: rgb(223, 242, 255);
}
.navItem:hover {
	color: rgb(255, 255, 255);
	text-shadow: 0.5px 0.5px cyan;
	text-decoration: none;
}

.sign-up {
	padding: 2%;
}

.sign-up-lines {
	border: 2px black solid;
}

#btn:hover {
	color: rgb(80, 185, 255);
}
